
<!-- <mat-toolbar color="primary">
  <button  (click)="sn.toggle()" class="btn btn-primary link-button" style="background-color: #3F51B5">
      <mat-icon>
          list
      </mat-icon>
  </button>
  <span>Shinetools</span>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened="true" #sn>
      <mat-nav-list>
          <a mat-list-item routerLink="/"> Home </a>
          <a mat-list-item routerLink="/employees"> Employees </a>
          <a mat-list-item routerLink="/about"> About </a>
      </mat-nav-list>
  </mat-sidenav>
  </mat-sidenav-container> -->
  <!-- <app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite> -->
<!-- <input type="text" [appInputFormat]="'uppercase'">

-->


<router-outlet></router-outlet>




